# TASK
- Download the rough **Hepatitis** dataset from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/hepatitis)
- Load the dataset (*hepatitis.data*) in Python (using the correct names for the variables as described in the *hepatitis.name* file)
- Handle missing values
- Save the final dataset in the .csv format

In [1]:
import pandas as pd
import os

In [2]:
columns = ['Class',
            'AGE',
            'SEX',
            'STEROID',
            'ANTIVIRALS',
            'FATIGUE',
            'MALAISE',
            'ANOREXIA',
            'LIVER BIG',
            'LIVER FIRM',
            'SPLEEN PALPABLE',
            'SPIDERS',
            'ASCITES',
            'VARICES',
            'BILIRUBIN',
            'ALK PHOSPHATE',
            'SGOT',
            'ALBUMIN',
            'PROTIME',
            'HISTOLOGY']

In [3]:
df = pd.read_csv('dataset/hepatitis.data',names = columns, na_values = '?')
df

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,NaN,242.0,3.3,50.0,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.0,142.0,4.3,NaN,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.0,20.0,4.1,NaN,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [4]:
for col in df.columns:
    display(df[col].value_counts())

2    123
1     32
Name: Class, dtype: int64

30    8
34    8
38    8
36    7
51    6
39    6
50    6
42    5
54    5
45    5
44    5
28    5
37    5
32    4
47    4
27    4
31    4
23    4
41    3
56    3
33    3
52    3
20    3
40    3
61    3
25    3
49    3
35    2
22    2
48    2
57    2
24    2
58    2
62    2
78    1
53    1
46    1
70    1
72    1
69    1
7     1
65    1
64    1
60    1
59    1
67    1
26    1
66    1
43    1
Name: AGE, dtype: int64

1    139
2     16
Name: SEX, dtype: int64

2.0    78
1.0    76
Name: STEROID, dtype: int64

2    131
1     24
Name: ANTIVIRALS, dtype: int64

1.0    100
2.0     54
Name: FATIGUE, dtype: int64

2.0    93
1.0    61
Name: MALAISE, dtype: int64

2.0    122
1.0     32
Name: ANOREXIA, dtype: int64

2.0    120
1.0     25
Name: LIVER BIG, dtype: int64

2.0    84
1.0    60
Name: LIVER FIRM, dtype: int64

2.0    120
1.0     30
Name: SPLEEN PALPABLE, dtype: int64

2.0    99
1.0    51
Name: SPIDERS, dtype: int64

2.0    130
1.0     20
Name: ASCITES, dtype: int64

2.0    132
1.0     18
Name: VARICES, dtype: int64

1.0    29
0.7    23
0.9    13
0.6    10
0.8    10
1.2     8
1.5     7
1.3     6
2.0     4
4.6     4
2.3     3
1.7     3
1.6     3
3.2     2
2.8     2
0.5     2
1.4     2
0.4     2
8.0     1
3.9     1
1.9     1
2.9     1
4.2     1
1.1     1
4.1     1
2.4     1
4.8     1
3.0     1
2.5     1
3.5     1
1.8     1
0.3     1
2.2     1
7.6     1
Name: BILIRUBIN, dtype: int64

85.0     18
81.0      4
62.0      4
100.0     3
78.0      3
         ..
103.0     1
34.0      1
127.0     1
55.0      1
126.0     1
Name: ALK PHOSPHATE, Length: 83, dtype: int64

20.0     7
60.0     6
28.0     5
30.0     5
55.0     5
        ..
249.0    1
224.0    1
156.0    1
86.0     1
54.0     1
Name: SGOT, Length: 84, dtype: int64

4.0    25
4.2    13
4.4     9
3.8     9
3.9     8
4.1     8
4.3     7
3.3     6
3.5     6
3.0     5
2.9     5
3.4     4
4.5     4
2.6     3
3.1     3
2.7     3
3.7     3
2.8     3
4.6     2
3.6     2
2.4     2
4.9     2
6.4     1
2.1     1
5.0     1
4.8     1
5.3     1
4.7     1
2.2     1
Name: ALBUMIN, dtype: int64

100.0    11
74.0      4
85.0      4
46.0      4
66.0      4
54.0      3
52.0      3
31.0      3
57.0      3
41.0      3
90.0      3
29.0      2
56.0      2
73.0      2
60.0      2
67.0      2
70.0      2
50.0      2
35.0      2
62.0      2
63.0      2
38.0      1
0.0       1
32.0      1
72.0      1
23.0      1
43.0      1
51.0      1
48.0      1
30.0      1
80.0      1
84.0      1
58.0      1
76.0      1
75.0      1
77.0      1
21.0      1
40.0      1
36.0      1
47.0      1
39.0      1
64.0      1
78.0      1
42.0      1
Name: PROTIME, dtype: int64

1    85
2    70
Name: HISTOLOGY, dtype: int64

In [5]:
df.isna().sum(axis=0)

Class               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITES             5
VARICES             5
BILIRUBIN           6
ALK PHOSPHATE      29
SGOT                4
ALBUMIN            16
PROTIME            67
HISTOLOGY           0
dtype: int64

In [6]:
# ignoring tuples, just as an example: too much information is discarded

In [7]:
df_notna = df.dropna(how='any')
df_notna

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
10,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
11,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
12,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
13,2,30,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
143,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
145,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [8]:
df_notna.to_csv(os.path.join('dataset','hepatitis.csv'),index = None)